[submodule "module/OpenSTA"]
	path = src/sta
	url = https://github.com/vibeic/OpenSTA.git
[submodule "src/abc"]
	path = third-party/abc
	url = ../../The-OpenROAD-Project/abc.git
[submodule "third-party/slang-elab"]
	path = third-party/slang-elab
	url = ../../povik/yosys-slang.git
[submodule "src/sta"]
	url = https://github.com/vibeic/OpenSTA.git
